.traffic-light {
    background: black;
    position: absolute;
    margin-top: 50px;
    left: 700px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.70);
       
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;

}

.red {
    background: red;
    margin-top: 10px;
    }

.yellow {
    background: yellow;
}
.green {
    background: green;
}
.glow {
    box-shadow: 0px 0px 9px 4px #747DE8;
}
.boton {
    padding: 5px 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.70);
}
